@model Mandak.WebApplication.Models.ErrorViewModel

<section class="event-welcome-area bg-overlay bg-img jarallax" style="background-image: url(@Url.Content("~/img/bg-img/error.JPG"));">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-9">
                <div class="event-welcome-text text-center">
                    <h2>Hiba</h2>
                    <p>Valami hiba történt. Lehet, hogy hibás linket vagy QR-kódot követett.</p>
                </div>
            </div>
        </div>
    </div>
</section>